<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>UACity Admin</title>
    <meta name="description" content="">
    <meta name="author" content="Ted Huang">
    <link rel="stylesheet" href="#springUrl('/static/lib/weui.min.css')">
    <link rel="stylesheet" href="#springUrl('/static/css/jquery-weui.css')">
</head>
<body ontouchstart>

    <div>
        #parse("/templates/_header.vm")
    </div>


    <div class="templatemo-content col-1 light-gray-bg">

        #parse("/templates/_banner.vm")

        <div class="templatemo-content-container">
        $screen_content
        </div>
        #parse("/templates/_footer.vm")
    </div>


</body>
<script src="#springUrl('/static/lib/jquery-2.1.4.js')"></script>
<script src="#springUrl('/static/js/jquery-weui.js')"></script>
</html>