
<div class="templatemo-top-nav-container">
    <div class="row">
        <nav class="templatemo-top-nav col-lg-12 col-md-12">
            <ul class="text-uppercase">
                <li><a href="" class="active">用户管理</a></li>
                <li><a href="">权限管理</a></li>
                <li><a href="">系统配置</a></li>
                <li><a href="login.html">退出系统</a></li>
            </ul>
        </nav>
    </div>
</div>

