<!-- Main content -->

<div class="templatemo-content-container">
    <div class="panel panel-default no-border">
        <div class="panel-heading border-radius-10">
            <h2>Area Chart</h2>
        </div>
        <div class="panel-body">
            <div class="templatemo-flex-row flex-content-row">
                <div class="col-1">
                    <div id="area_chart_div" class="templatemo-chart"></div>
                    <h3 class="text-center margin-bottom-5">Company Performance</h3>
                    <p class="text-center">Fusce mi lacus</p>
                </div>
            </div>
        </div>
    </div>
</div>


